.navigationSidebar {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  min-height: 20%;
  overflow-y: auto;
  padding: 1rem 1rem;

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
      margin-bottom: 5px;
      padding: 0; /* Убираем padding у li */
      cursor: pointer;
      border-radius: 4px;
      color: #333;
      font-size: 1.9em;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
