.exportTableButton {
  position: relative;
  display: inline-block;
  overflow: visible;

  &__icon {
    width: 15%;
    height: 15%;
    object-fit: contain;
  }

  &__tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;

    position: absolute;
    z-index: 1;
    bottom: -200%;
    left: 50%;
    margin-left: -8rem;

    opacity: 0;
    transition: opacity 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      top: -20%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: dashed;
      border-color: #555 transparent transparent transparent;
      transform: rotate(180deg);
    }
  }

  &:hover &__tooltip {
    visibility: visible;
    opacity: 1;
  }

  &__button {
    font-size: 2rem !important;
  }

  &__menu {
    width: 50rem !important;
    &__item {
      width: 100% !important;

      &__btn {
        width: 100% !important;
        font-size: 2rem !important;
        text-align: center !important;
      }
    }
  }
}
