.profileSidebar {
  &__topContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 5rem 0;
    border-radius: 2rem 0 0 0;
    height: auto;
    z-index: 100;

    border-bottom: 1px solid #000;
    background-color: rgba(228, 228, 228, 1);
  }

  &__title {
    font-size: 2.5rem;
  }

  &__bottomContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    // height: 100%;
    padding: 0 3rem;
    margin-top: 5rem;
  }

  &__profileInfo {
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-size: 2rem;
    text-align: left;

    &--semiWidth {
      width: 100%;
    }

    &--marginTop {
      margin-top: 2rem;
    }
  }

  &__button {
    background-color: white;
  }
}
