.settingsMenu {
  position: absolute;
  bottom: 40%;
  right: -5%;
  transform: translate(-50%, -120%);
  opacity: 1;
  z-index: 21;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: rgb(183, 183, 183);
  border-radius: 2rem;
  width: 30rem;
  // height: auto;
  padding: 2rem;

  &-enter-from {
    opacity: 0;
    transform: translate(-50%, -125%);
  }

  &-enter-active {
    transition: 0.15s ease-out;
  }

  &-enter-to {
    opacity: 1;
    transform: translate(-50%, -120%);
  }

  &-leave-from {
    opacity: 1;
    transform: translate(-50%, -120%);
  }

  &-leave-active {
    transition: 0.15s ease-in;
  }

  &-leave-to {
    opacity: 0;
    transform: translate(-50%, -125%);
  }
}
