@use "./variables.scss" as *;
@import "bootstrap/scss/bootstrap";

html {
  font: var(--baseFontWeight) var(--baseFontSize) / var(--baseLineHeight)
    var(--baseFontFamily);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modalInstance {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(128, 128, 128, 0.8);
}

.modalWindow {
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  max-width: 600px;
  gap: 2rem;
  padding: 25px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Универсальные стили для всех страниц с деревьями */
.table-container {
  // max-height: calc(100vh - 180px);
  // overflow: hidden;
  display: flex;
  flex-direction: column;
}

.p-tree,
.treeview__root {
  overflow-y: auto !important;
  max-height: 100% !important;
  min-height: 0;
}

.imageInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__textContent {
    display: flex;
    flex-direction: column;
  }

  &__header {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__imageItem {
    list-style: none;
  }

  &__imageTitle {
    font-size: 1.5rem;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Скрываем выходящий за границы текст */
    text-overflow: ellipsis; /* Добавляем многоточие */
    width: 230px;
  }

  &__input--hidden {
    display: none;
  }

  &__uploadButton {
    display: inline-block;
    padding: 10px 20px;
    background: #0056b3;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.2s ease;

    &:hover {
      background: #546cb8;
    }
  }
}

.itemIcon {
  width: 14%;
}
