.customDropdown {
  &--baseWidth {
    --bs-dropdown-min-width: 25rem !important;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
  }

  &__button {
    font-size: 1.75rem !important;
    color: #000 !important;
    padding: 0.5rem 1rem !important;
    border-radius: 0 !important;
    background-color: rgba(222, 222, 222, 0.3) !important;
    outline: none;
    border: 1px solid #ddd !important;

    &:hover {
      background-color: rgba(222, 222, 222, 0.3) !important;
      outline: none;
      border: 1px solid #ddd !important;
    }
  }

  &__menu {
    &__item {
      font-size: 1.5rem !important;
      width: 100% !important;
    }
  }
}

.customDropdown__menu__item.active {
  background-color: #777777;
  color: white;
}
