.notificationButton {
  position: relative;
  display: flex;

  &__button {
    width: 100%;
    padding: 2rem 1rem;
    text-transform: none;
    background-color: #fff;
  }
}

.notificationStatusIcon {
  position: absolute !important;
  top: -15%;
  left: -3%;

  &--position {
    transform: translate(30%, -100%) !important;
  }

  &--check {
    color: darkgreen;
  }

  &--warning {
    color: darkred;
  }
}

.notificationsSidebar {
  position: relative;
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: column;
    // gap: 2rem;
    width: 50rem;
    height: 80vh;
    padding: 0;
    margin: 5rem 0;
    overflow: auto;
  }

  &__textContent {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 0rem 2rem;
  }

  &__notification {
    display: flex;
    flex-direction: column;
    justify-content: right;
    // align-items: flex-end;
    width: 100%;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgb(144, 144, 144);
    background-color: rgb(187, 187, 187);
  }

  &__bottomContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  &__notification:first-child,
  &__notification:last-child {
    padding: 2rem;
  }

  &__notification:not(:first-child) {
    border-top: 1px solid rgb(144, 144, 144);
  }

  &__message {
    font-size: 1.5rem;
    text-align: justify;
    letter-spacing: 0.5px;

    &--noNotifications {
      text-align: center;
      font-size: 2rem;
      border-bottom: 1px solid rgb(144, 144, 144);
      padding: 1rem 2rem;
    }

    &--title {
      font-size: 2rem;
      text-align: center;
      letter-spacing: 1px;
      margin-top: 5rem;
    }
  }

  &__button {
    border: none;
    outline: none;
    font-size: 1.5rem;
    width: auto;
    margin: 0 1rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;

    &--disabled {
      cursor: not-allowed;
    }

    transition: box-shadow 0.3s ease;
    -webkit-box-shadow: 0px 2px 12px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 2px 12px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 2px 12px 2px rgba(34, 60, 80, 0.2);

    &:hover {
      transition: box-shadow 0.3s ease;
      -webkit-box-shadow: 2px 2px 24px -1px rgba(157, 157, 157, 0.2);
      -moz-box-shadow: 2px 2px 24px -1px rgba(157, 157, 157, 0.2);
      box-shadow: 2px 2px 24px -1px rgba(157, 157, 157, 0.2);
    }
  }
}

.notificationIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  svg {
    width: 2.5rem;
    height: 3rem;
  }
  // z-index: 100;
}

.notificationsMenu {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border-radius: 1rem;
  z-index: 1;

  background-color: rgb(237, 237, 237);

  &__list {
    display: flex;
    flex-direction: column;
    // gap: 2rem;
    width: 50rem;
    max-height: 70vh;
    overflow-y: auto;
    padding: 0;

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 1.5rem;
      padding: 1rem 2rem;

      border-bottom: 1px solid rgb(144, 144, 144);
    }

    &__item:first-child,
    &__item:last-child {
      padding: 2rem;
    }

    &__item:not(:first-child) {
      border-top: 1px solid rgb(144, 144, 144);
    }
  }

  &__button {
    border: none;
    outline: none;
    font-size: 1.25rem;
    width: auto;
    margin: 2rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;

    transition: box-shadow 0.3s ease;
    -webkit-box-shadow: 0px 2px 12px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 2px 12px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 2px 12px 2px rgba(34, 60, 80, 0.2);

    &:hover {
      transition: box-shadow 0.3s ease;
      -webkit-box-shadow: 2px 2px 24px -1px rgba(157, 157, 157, 0.2);
      -moz-box-shadow: 2px 2px 24px -1px rgba(157, 157, 157, 0.2);
      box-shadow: 2px 2px 24px -1px rgba(157, 157, 157, 0.2);
    }
  }
}

.unread {
  background-color: rgb(170, 170, 170);
}
