.editModalWindow {
  width: 90%;
  height: 90%;
  overflow-y: auto;
  &__header {
    &__title {
      font-size: 2rem;
      color: #333;
    }

    &__hr {
      width: 100%;
      border: none;
      height: 1px;
      background-color: #eee;
      margin: 15px 0;
    }
  }

  &__closeIcon {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    color: #666;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    gap: 15px;

    &__field {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 15px;

      &__label {
        font-weight: bold;
        color: #555;
        flex-basis: 120px;
        flex-shrink: 0;
        font-size: 1.6rem;
      }

      &__input {
        flex-grow: 1;
        padding: 12px 18px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 1.5rem;
        // min-width: 220px;
        // min-height: 44px;
      }

      // Стили для VueDatePicker
      .dp__main {
        font-size: 1.6rem;
        min-width: 260px;
      }
      .dp__input {
        font-size: 1.5rem;
        min-height: 44px;
        padding: 12px 18px;
      }
      .dp__menu {
        min-width: 340px;
        min-height: 340px;
        font-size: 1.75rem;
      }
      .dp__calendar {
        font-size: 1.75rem;
      }
      .dp__cell_inner {
        font-size: 1.75rem;
        min-width: 2.5rem;
        min-height: 2.5rem;
      }
      .dp__month_year_row,
      .dp__calendar_header {
        font-size: 1.75rem;
      }
    }
  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 2rem;

    &__btn {
      background-color: #f4f4f4; /* Серый фон */
      color: #555; /* Цвет текста как у кнопки Выйти */
      border: 1px solid #ddd; /* Рамка */
      padding: 8px 15px; /* Отступы */
      border-radius: 4px; /* Скругление углов */
      cursor: pointer; /* Курсор */
      font-size: 1.5rem; /* Размер шрифта */

      &:hover {
        background-color: #e0e0e0; /* Темнее при наведении */
      }
    }
  }
}

.imagePreview {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 50%;
  transition: transform 0.3s ease;

  &:hover {
    cursor: pointer;
    z-index: 100;
    transform: scale(10);
  }
}

.inputCheckbox {
  position: absolute;
  right: 0;
  width: 10%;
  // height: 100% !important;

  &:focus {
    box-shadow: none;
  }
}

.customSelect {
  display: flex;
  width: 100%;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  border-radius: 6px;
  border: 1px #ccc solid;

  &__option {
    border-radius: 2rem;
    font-size: 1.45rem;
  }
}
