.treeview {
  margin-top: 2rem;
  height: 40%;
  max-width: 100%;
  overflow-y: auto;

  &__toggleButtonHidden {
    display: none !important;
  }

  &__root {
    height: 100%;
    // background-color: red !important;
  }

  &__node {
    height: 100%;
  }

  &__data {
    font-size: 2rem !important;
    padding: 1rem 2rem !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem !important;
    width: 100%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05) !important;
      cursor: pointer;
    }

    &__label {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      font-size: 1.75rem;
    }

    &__selected {
      background-color: rgba(0, 0, 0, 0.05) !important;
    }
  }
}

// .treeview .p-tree-toggler {
//   display: none !important;
// }

// :deep(.treeview .p-treenode-content) {
//   font-size: 1.3rem !important;
//   padding: 1.2rem 2.5rem !important;
// }
// :deep(.treeview .p-tree-label) {
//   font-size: 1.3rem !important;
// }

// .treeview-container {
//   height: 60vh;
//   min-height: 400px;
//   max-height: 80vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
// }
