.treeview {
  margin-top: 2rem;
  height: 40%;
  max-width: 100%;
  overflow-y: auto;

  &__icon {
    width: 3rem;
    height: 3rem;
  }

  &__toggleButtonHidden {
    display: none !important;
  }

  &__root {
    height: 100%;
    // background-color: red !important;
  }

  &__node {
    height: 100%;
  }

  &__data {
    font-size: 2rem !important;
    padding: 1rem 2rem !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem !important;
    width: 100%;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05) !important;
      cursor: pointer;
    }

    &__label {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      font-size: 1.75rem;
    }

    &__selected {
      background-color: rgba(0, 0, 0, 0.05) !important;
    }
  }
}

.data--notAvailabled {
  background-color: rgb(255, 195, 195) !important;
  transition: all 0.3s ease;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;

  &__btn {
    font-size: 1.5rem;
    border: none;
    outline: none;
    padding: 1rem 1rem;
  }

  &__text {
    font-size: 1.75rem !important;
    color: #555555;
  }

  &__label {
    font-size: 1.75rem;
    margin: 0;
  }

  &__option {
    font-size: 1.5rem;
  }

  &__select {
    padding: 0.25rem 1rem;
    font-size: 1.5rem;
    border: 1px solid rgba(85, 85, 85, 0.3);
    border-radius: 4px;
    outline: none;
    transition: border 0.1s ease;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(5px);
}
