.treeview {
  margin-top: 2rem;
  height: 40%;
  max-width: 100%;
  overflow-y: auto;

  &__toggleButtonHidden {
    display: none !important;
  }

  &__root {
    height: 100%;
    // background-color: red !important;
  }

  &__node {
    height: 100%;
  }

  &__data {
    font-size: 2rem !important;
    padding: 1rem 2rem !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem !important;
    width: 100%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05) !important;
      cursor: pointer;
    }

    &__label {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      font-size: 1.75rem;
    }

    &__selected {
      background-color: rgba(0, 0, 0, 0.05) !important;
    }
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;

  &__btn {
    font-size: 1.5rem;
    border: none;
    outline: none;
    padding: 1rem 1rem;
  }

  &__text {
    font-size: 1.75rem;
  }

  &__itemsPerPage {
    display: flex;
    align-items: center;
    gap: 2rem;

    &__label {
      font-size: 1.75rem;
      margin: 0;
    }

    &__selectWrapper {
      &__select {
        padding: 1rem 2rem;
        font-size: 1.5rem;

        &__option {
          font-size: 1.5rem;
        }
      }
    }
  }
}
